<!-- Playback controls -->
<header>
  
  <button data-button="prev"></button>
  <button data-button="play"></button>
  <button data-button="pause"></button>
  <button data-button="next"></button>
  
  <div id="lcd" class="disabled_">
    
    <span id="lcd_artwork" style="background-image:url(http://bigpondmusic.com/images/AlbumCoverArt/207/L/Sultans-Of-Swing-The-Very-Best-Of-Dire-Straits.jpg)"></span>
    
    <div>
      <span id="lcd_title">Twisting by the pool</span>
      <span id="lcd_container">Sultans of Swing - The very best of Dire Straits - Dire Straits</span>
      <div>
        <button data-button="repeat"></button>
        <span id="lcd_position_current">0:28</span>
        <div id="lcd_position"></div>
        <span id="lcd_position_duration">-3:08</span>
        <button data-button="shuffle"></button>
      </div>
    </div>
    
    <button data-button="queue"></button>
    
  </div>
  
  <div id="output" class="airplay">
    <div id="volume"></div>
    <button data-button="airplay"></button>
  </div>
  
</header>


<!-- Browser content -->
<div>
</div>


<!-- Nav, viewmodes, search -->
<footer>
  
  <div>
    <button data-button="nav" class="music">Blackbox II</button>
  </div>
  
  <div>
    <div>
      <nav id="viewtypes">
        <a href="#" class="button">Songs</a>
        <a href="#" class="button">Albums</a>
        <a href="#" class="button">Artists</a>
        <a href="#" class="button">Playlists</a>
        <a href="#" class="button">More...</a>
      </nav>
    </div>
  </div>
  
  <div>
    <input name="search" type="text" />
  </div>
  
</footer>


<div class="popup arrow right" id="airplay_popup">
  <div class="arrow"></div>
  <div class="well">
    Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla
  </div>
</div>

<div class="popup arrow bottom left" id="media_popup">
  <div class="arrow"></div>
  <h1>Blackbox II</h1>
  <div class="well">
    Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla<br/>Bladiebla
  </div>
</div>