// Ellipsis
@mixin ellipsis
  overflow:       hidden
  text-overflow:  ellipsis
  white-space:    nowrap


// Image value function
@function image-value($image, $options)
  @if type-of($options) == 'string'
    $options: append((), $options)

  $path:  "images/#{$image}"
  $ext:   "png"

  @if index($options, remote) != false
    $path: "images/remote/#{$image}"

  @if index($options, plugin) != false
    $path: "../../../../assets/#{$path}"
  @else
    $path: "../#{$path}"

  @if index($options, gif) != false
    $ext: "gif"

  @if index($options, retina) != false
    $path: -webkit-image-set(url(#{$path}.#{$ext}) 1x, url(#{$path}@2x.#{$ext}) 2x)
  @else
    $path: url(#{$path}.#{$ext})

  @return $path


// Border image
@mixin border-img($image, $size, $options: (), $repeat: stretch)
  -webkit-border-image: image-value($image, $options) $size $repeat
  border-width:         nth($size, 1)+px nth($size, 2)+px nth($size, 3)+px nth($size, 4)+px


// Content image
@mixin content-img($image, $options: ())
  content: image-value($image, $options)


// Background image
@mixin background-img($image, $options: (), $alt: false)
  @if type-of($options) == 'string'
    $options: append((), $options)

  background-image: image-value($image, $options)

  @if index($options, pressed) != false
    $customAlt: type-of($alt) == 'list'

    @if $customAlt
      $alt: nth($alt, 1)
    @else if type-of($alt) != 'string'
      $alt: Pressed

    @if $customAlt
      &.#{nth($alt, 2)}
        background-image: image-value(#{$image}#{nth($alt, 1)}, $options)
    @else
      &:active
        background-image: image-value(#{$image}#{$alt}, $options)

// Medium icon
@mixin medium_icon($class, $icon:'', $custom:false)
  @if $icon == ''
    $icon: $class
  &.#{$class}
    &::before
      @if $custom == true
        @include  background-img(SourceList#{$icon}Gray, retina)
      @else
        @include  background-img(SourceList#{$icon}Gray, remote retina)
    &.selected::before
      @if $custom == true
        @include  background-img(SourceList#{$icon}Highlight, retina)
      @else
        @include  background-img(SourceList#{$icon}Highlight, remote retina)