// Ellipsis
@mixin ellipsis
  overflow:       hidden
  text-overflow:  ellipsis
  white-space:    nowrap


// Image value function
@function image-value($image, $options)
  @if type-of($options) == 'string'
    $options: append((), $options)

  $remote: index($options, remote) != false
  $retina: index($options, retina) != false
  $plugin: index($options, plugin) != false
  $path: $image

  @if $remote
    $path: "images/remote/#{$image}"
  @else
    $path: "images/#{$image}"

  @if $plugin
    $path: "../../../../assets/#{$path}"
  @else
    $path: "../#{$path}"

  @if $retina
    $path: -webkit-image-set(url(#{$path}.png) 1x, url(#{$path}@2x.png) 2x)
  @else
    $path: url(#{$path}.png)

  @return $path


// Border image
@mixin border-img($image, $size, $options: (), $repeat: stretch)
  -webkit-border-image: image-value($image, $options) $size $repeat
  border-width:         nth($size, 1)+px nth($size, 2)+px nth($size, 3)+px nth($size, 4)+px


// Content image
@mixin content-img($image, $options: ())
  content: image-value($image, $options)


// Background image
@mixin background-img($image, $options: (), $alt: false)
  @if type-of($options) == 'string'
    $options: append((), $options)

  background-image: image-value($image, $options)

  @if index($options, pressed) != false
    $customAlt: type-of($alt) == 'list'

    @if $customAlt
      $alt: nth($alt, 1)
    @else if type-of($alt) != 'string'
      $alt: Pressed

    @if $customAlt
      &.#{nth($alt, 2)}
        background-image: image-value(#{$image}#{nth($alt, 1)}, $options)
    @else
      &:active
        background-image: image-value(#{$image}#{$alt}, $options)