a
  text-decoration:  none
  color:            inherit
h1
  font-weight:  bold

table
  border-collapse: collapse
  
button, .button
  display:          inline-block
  border:           none
  background-color: transparent
  margin:           0
  padding:          0
  font-size:        12px !important
  font-weight:      bold
  
.left
  float: left
.right
  float: right