#airplay_popup
  width:  334px
  top:    71px
  left:   679px

#media_popup
  width:  334px
  left:   400px
  bottom: 128px

.popup
  position:           absolute
  z-index:            1
  padding:            6px
  
  border:             1px solid #101010
  border-top-color:   #6A6A69
  @include            border-radius(8px)
  @include            background-image( linear-gradient( #737A89 2px, #243048 21px, #111E39 21px, #0E1B36) )
  @include            box-shadow( 0 0 0 1px rgba(255,255,255,.25), 0 7px 65px 0 rgba(0,0,0,.8), inset 0 0 0 1px rgba(255,255,255,.15) )
  
  
  > h1
    text-align:     center
    font-size:      150%
    color:          white
    line-height:    26px
    padding-bottom: 9px
    @include        text-shadow(0 -1px 1px rgba(0,0,0,.5))
    
  > .well
    @include    border-radius(5px)
    background: white
    padding:    5px
    position:   relative
    
    // Inset shadow
    &::before
      content:        ''
      position:       absolute
      top:            0
      left:           0
      right:          0
      bottom:         0
      border-radius:  5px
      box-shadow:     inset 0 2px 3px 0px rgba(0,0,0,.3)
      pointer-events: none
  
  
  
  
  
  
  &.arrow
    > .arrow
      position:           absolute
      left:               50%
      top:                -13px
      margin-left:        -14px
      display:            block
      
      &::before
        content:      ''
        position:     absolute
        z-index:      -1
        width:        24px
        height:       24px
        margin-left:  0
        border:       solid #3F3F3F
        border-width: 1px 0 0 1px
        @include      rotateZ(45deg)
        @include      background-image( linear-gradient( left top, #B1B4BD, #727988 53%, transparent 53%) )
        @include      box-shadow( -1px -1px 0 0 rgba(255,255,255,.25), inset 1px 1px 0 0 rgba(255,255,255,.2) )
        
      &::after
        content:    ''
        position:   absolute
        width:      39px
        height:     19px
        top:        14px
        left:       -6px
        @include    background-image( linear-gradient( #747B89, #26324B) )
        z-index:    -1
    
    &.bottom
      > .arrow
        top:    auto
        bottom: 12px
        &::before
          background: #0E1B36
          @include    rotateZ(-135deg)
          border-color: #02060E
          @include            box-shadow( -1px -1px 0 0 rgba(255,255,255,.25), inset 1px 1px 0 0 rgba(255,255,255,.05) )
        &::after
          top:  -8px
          background:  #0E1B36
      
    &:not(.bottom)
      &.right, &.left
        > .arrow::after
          @include    border-radius(4px 4px 0 0)
    
    &.bottom
      &.right, &.left
        > .arrow::after
          @include    border-radius(0 0 4px 4px)
    
    &.right > .arrow
      left:   auto
      right:  34px

    &.left > .arrow
      left:  23px


//     // Header
//     h1
//       border-top:     1px solid #969696
//       border-bottom:  1px solid #363636
//       background:     -webkit-linear-gradient(#767676, #2F2F2F 50%, black 50%, black)
//       color:          white
//       text-shadow:    0 -1px 0 black
//       text-align:     center
//       font-size:      150%
//       line-height:    41px
//       position:       relative
//       clear:          both