<%
  var containers, groups;
  
  if (contentType)
    containers = getByContentType(contentType);
  else {
    groups = groupByContentType();
    if (groups.length == 1 && !medium.isLocal())
      containers = groups[0].members;
  }
  
%>
<div class="scrollable">
  
  <% if (containers) {
    
    _.each(containers, function(c){ %>
      <a href="#media/<%=medium.id%>/containers/<%=c.id%>/contents" class="<%=c.get('type')%> <%=c.get('contentType')%>"><%=c.get('name')%></a>
    <% })
    
  } else {
    
    _.each(groups, function(group){
      if (group.members.length > 1) { %>
        <a href="#media/<%=medium.id%>/groups/<%=group.key%>/containers" class="more <%=group.key%>"><%=group.key.toTitleCase()%></a>
      <% } else {
        var c = group.members[0]; %>
        <a href="#media/<%=medium.id%>/containers/<%=c.id%>/contents" class="<%=c.get('type')%> <%=c.get('contentType')%>"><%=group.key.toTitleCase()%></a>
      <% }
    })
    
  } %>
  
  
  <% if (medium.isLocal() && !containers) {
    medium.collection.each(function(m){
      if (m.isLocal() || m.containers.length == 0) return;
      if (m.containers.length > 1) { %>
        <a href="#media/<%=m.id%>/containers" class="more <%=m.get('type')%>"><%=m.get('name')%></a>
      <% } else { var c = m.containers.first(); if (c.isNew()) return; %>
        <a href="#media/<%=m.id%>/containers/<%=c.id%>/contents" class="<%=c.get('type')%> <%=c.get('contentType')%>"><%=c.get('name')%></a>
      <% }
    })
  } %>
  
</div>