<%
var data = get('data');
var count = (data || []).length;
%>
<div class="back" style="background-image:<%=backgroundImage%>">
  <h1>
    <%= (get('album') || T.T.unknown + " " + T.T.items.album.one.toTitleCase()).htmlEncode() %><br/>
    <%= (get('albumArtist') || T.T.unknown + " " + T.T.items.artist.one.toTitleCase()).htmlEncode() %><br/>
    <% if (data) {
      var duration = Math.round(meta.totalDuration / 60); %>
      <span><%= data.length %> <%= T.t('items.track', {count:data.length}).toTitleCase() %>, <%= duration %> <%= T.t('time.minute.short', {count:duration}).toTitleCase() %></span>
    <% } %>
  </h1>
  
  <div class="scrollable">
    <table>
      <% _.each(data || [], function(track,i){ %>
        <tr data-index="<%=i%>">
          <td><%= track[keys.number] ? track[keys.number] + "." : "" %></td>
          <td>
            <% 
            print( track[keys.name].htmlEncode() );
            if (track[keys.artist] != track[keys.albumArtist]) { %>
              <span>(<%= track[keys.artist].htmlEncode() %>)</span>
            <% } %>
          </td>
          <td><%= track[keys.duration] %></td>
        </tr>
      <% }); %>
    </table>
    
    <% if (count > 5) { %>
      <div class="count"><%= count %> <%= T.t('items.' + get('type'), {count:count}).toTitleCase() %></div>
    <% } %>
  </div>
</div>
<div class="front" style="background-image:<%=backgroundImage%>"></div>