$headerHeight:  61px
$footerHeight:  44px

#browser
  @include  display-box
  @include  box-orient(vertical)
  
  > header
    height:   $headerHeight
    position: relative
    z-index:  4
  
  > div
    @include box-flex(1)
    
    &#connecting
      display:  none
    
  > footer
    height:   $footerHeight
    position: relative
    z-index:  4