@import browser/layout
@import browser/header
@import browser/footer

@import browser/connecting

@import browser/contents

@import browser/media

// #browser
//   -webkit-transition: opacity .5s ease-in
//   &.hidden
//     opacity: 0

#browser
  background-color:     $browserBackgroundColor
  // background-image:     url(../images/_screenshots/IMG_0165.PNG)
  background-repeat:    no-repeat
  background-size:      100%
  background-position:  0 -20px
  
  position: relative
  
  width:      1024px
  height:     748px
  
  @media screen and (max-width: 900px)
    // background-image: url(../images/_screenshots/IMG_0167.PNG)
    width:            768px
    height:           1004px
  
