button, .button, input[type=button], input[type=submit]
  display:          inline-block
  border:           none
  background-color: transparent
  margin:           0
  padding:          0 4px
  font-size:        12px
  font-weight:      bold

  // Default button
  &.basic
    text-shadow:          0 1px 0 white
    -webkit-border-image: -webkit-image-set(url(../images/remote/PopoverButton.png) 1x, url(../images/remote/PopoverButton@2x.png) 2x) 0 4 0 4 stretch
    border-width:         0px 4px 0px 4px
    line-height:          30px
    font-size:            115%
  
  // iOS style button
  &.ios
    line-height:    30px
    vertical-align: middle
    @include        ellipsis
    max-width:      8em
    @include        border-img(ScreenButton, 0 4 0 4, retina remote)
    @include        text-shadow(0 1px 0 white)
    
    // Dark background, so light text
    &.black, &.dark, &.blue
      color:          white
      @include        text-shadow(0 -1px 0 black)
    
    // Button is pressed
    &:active
      @include        border-img(ScreenButtonPressed, 0 4 0 4, retina remote)
    
    // Back button
    &.back
      padding-left:   0
      @include        border-img(ChromeButtonBack, 0 4 0 13, retina remote)
      &:active, &.active
        @include        border-img(ChromeButtonBackSelected, 0 4 0 13, retina remote)
    
    // Chrome button
    &.chrome
      @include        border-img(ChromeButton, 0 4 0 4, retina remote)
      &:active
        @include        border-img(ChromeButtonSelected, 0 4 0 4, retina remote)
      &.back
        @include        border-img(ChromeButtonBack, 0 4 0 13, retina remote)
        &:active
          @include        border-img(ChromeButtonBackSelected, 0 4 0 13, retina remote)
    
    // Black button
    &.black
      @include        border-img(NowPlayingButton, 0 4 0 4, retina remote)
      &:active
        @include        border-img(NowPlayingButtonPressed, 0 4 0 4, retina)
      &.back
        @include        border-img(UINavigationBarBlackOpaqueBack, 0 4 0 13, retina remote)
        &:active
          @include        border-img(UINavigationBarBlackBackPressed, 0 4 0 13, retina remote)
      &.forward
        padding-right:   0
        @include        border-img(UINavigationBarBlackOpaqueForward, 0 13 0 4, retina remote)
        &:active
          @include        border-img(UINavigationBarBlackForwardPressed, 0 13 0 4, retina remote)
    
    // Bright blue button
    &.blue
      @include        border-img(ScreenButtonDone, 0 4 0 4, retina remote)
      &:active
        @include        border-img(ScreenButtonDonePressed, 0 4 0 4, retina remote)
    
    // Dark blue button
    &.darkblue
      &.back
        @include        border-img(UINavigationBarDefaultBack_OS5, 0 4 0 13, retina remote)
        &:active
          @include        border-img(UINavigationBarDefaultBackPressed_OS5, 0 4 0 13, retina remote)