a
  text-decoration:  none
  color:            inherit
h1
  font-weight:  bold

table
  border-collapse: collapse

.left
  float: left
.right
  float: right

.ui-slider
  &.ui-slider-disabled
    .ui-slider-range, .ui-slider-handle
      display:  none

.index:not(tr)
  position: absolute
  width:    100%
  z-index:  1