$listRowHeight: 44px

.list
  background:       white
  font-weight:      bold
  font-size:        130%
  margin-bottom:    -1px
  
  > *
    @include          display-box
    height:           $listRowHeight
    line-height:      $listRowHeight - 1px
    border-bottom:    1px solid #ccc
    padding:          0 6px
    @include          ellipsis
    
    > span
      display:  block
      @include  box-flex(1)
      @include  ellipsis
    
    &.more, &.loading, &.checked
      &::after
        display:      block
        margin-right: 2px
    
    &.more::after
      margin-top: 15px
      @include  content-img(UITableViewNext)
    
    &.loading::after
      margin-top: 11px
      @include  content-img(ListLoading)

    &.checked::after
      margin-top: 15px
      @include  content-img(UITableViewCheck)

    &.selected
      @include  background( linear-gradient(#90B0D3, #7097BD) )
      color:    white
      &.more::after
        @include  content-img(UITableViewNextHighlight)
      &.loading::after
        @include  content-img(ListLoadingHighlight)
      &.checked::after
        @include  content-img(UITableViewCheckHighlight)
  
  &.icons > *
    &::before
      content:        ''
      display:        block
      width:          33px
      margin:         0 7px 0 0
      vertical-align: middle
      background:     no-repeat center center