@mixin source_icon($type)
  &.#{$type}
    &::before
      @include        remote-image(SourceList#{$type}Gray)
    &.selected::before
      @include        remote-image(SourceList#{$type}Highlight)

$listRowHeight: 43px

ul, .list
  background:       white
  font-weight:      bold
  font-size:        130%
  margin-bottom:    -1px
  
  > *
    display:          block
    line-height:      $listRowHeight
    border-bottom:    1px solid #ccc
    padding:          0 6px
    @include          ellipsis
    
    &.more, &.loading
      padding-right:  22px
      &::after
        float:        right
        margin-top:   -$listRowHeight + 15px
        margin-right: -12px
    
    &.more::after
      content:  -webkit-image-set(url(../images/SourceListNext.png) 1x, url(../images/SourceListNext@2x.png) 2x)
    
    &.selected
      @include  background( linear-gradient(#90B0D3, #7097BD) )
      color:    white
      &.more::after
        content:  -webkit-image-set(url(../images/SourceListNextHighlight.png) 1x, url(../images/SourceListNextHighlight@2x.png) 2x)
  
  &.icons > *
    &::before
      content:        ''
      display:        inline-block
      width:          33px
      height:         33px
      margin:         0 7px 0 0
      vertical-align: middle
      background:     no-repeat center center
      @include        remote-image(SourceListFolderGray)
    &.selected::before
      @include        remote-image(SourceListFolderHighlight)
    
    @include source_icon(music)
    @include source_icon(movies)
    @include source_icon(tv)
    @include source_icon(sharedlibrary)