$listRowHeight: 44px

.list
  background-color: $defaultBackgroundColor
  font-weight:      bold
  font-size:        130%
  margin-bottom:    -1px
  text-shadow:      none
  
  > *
    @include          display-box
    height:           $listRowHeight
    line-height:      $listRowHeight // - 1px
    border-bottom:    1px solid #ccc
    padding:          0 6px
    @include          ellipsis
    
    > span
      display:  block
      @include  box-flex(1)
      @include  ellipsis
    
    &.more, &.loading, &.checked
      &::after
        display:      block
        margin-right: 2px
    
    &.more::after
      margin-top: 15px
      @include  content-img(UITableViewNext, retina)
    
    &.loading::after
      margin-top: 11px
      @include  content-img(UITableViewLoading, retina gif)

    &.checked::after
      margin-top: 15px
      @include  content-img(UITableViewCheck, retina)

    &.selected
      @include      background($defaultSelectionGradient)
      color:        white
      &.more::after
        @include  content-img(UITableViewNextHighlight, retina)
      &.loading::after
        @include  content-img(UITableViewLoadingHighlight, retina gif)
      &.checked::after
        @include  content-img(UITableViewCheckHighlight, retina)
  
  &.icons > *, & > .icon
    &::before
      content:              ''
      display:              block
      width:                33px
      margin:               -1px 7px 0 0
      vertical-align:       middle
      background-repeat:    no-repeat
      background-position:  center center