section.split_view
  @include display-box
  
  > *
    &:first-child
      width:        228px
      border-right: 1px solid #bbb
      @include      background-img(ChromeBackground, remote retina)
      @include      box-shadow(0 0 5px 0 rgba(0,0,0,.24))
      position:     relative
      z-index:      3
      
    &:last-child:not(:first-child)
      @include	box-flex(1)
      @include 	display-box
      @include	box-orient(vertical)

      color: #606060

      > header
        position:       relative
        z-index:        2
        border-bottom:  1px solid #e1e1e1
        @include        background( $defaultBackgroundColor linear-gradient(top, #f9f9f9, #fafafa, #fefefe, #f6f6f6) no-repeat bottom left)
        @include        background-size(100% 4px)
        + *
          @include      box-flex(1)

        h1
          padding:  14px 14px 0 11px
          > span
            font-size:  1.8em
          > div
            margin-top: -3px

        > div
          padding:  4px 0 11px 11px