$tileSize:              128px
$tileZoomScale:         1.2
$tilesBackgroundColor:  #f2f2f2

.scroll_list.tiles > .scrollable
  position:         relative
  background-color: $tilesBackgroundColor
  
  // The entire list
  > ul
    overflow: hidden
    @include  transition(padding-bottom .4s ease)
    
    // Each tile
    > li
      display:        inline-block
      vertical-align: top
      width:          $tileSize
      height:         $tileSize
      margin:         25px 21px 43px 20px
      padding-top:    $tileSize
      
      // When the screen gets narrower, adjust the margins
      @media screen and (max-width: 900px)
        margin-right: 2px
        margin-left:  18px
      
      // Background of the tiles
      background-size:      cover
      background-repeat:    no-repeat
      background-position:  bottom left
      @include              box-shadow(0 2px 7px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.4) inset, 0 0 0 2px rgba(255,255,255,.4) inset)
      
      // Nice transition for zooming
      @include  transition(-webkit-transform .4s ease)
      @include  transform-origin(64px 64px 0)
      // Already transform it, so modifying this value happens without hick-up
      @include  translate3d(0,0,0)
      
      // The texts of the tiles
      span
        display:  block
        @include  ellipsis
        // First line
        &:first-child
          padding-bottom: 3px
          font-weight:    bold
          margin-top:     7px
          width:          100%
          @include        transition-property(-webkit-transform, width)
          @include        transition(.4s ease)
          @include        transform-origin(left top 0)
        // Line 2
        &:nth-child(2)
          padding-bottom: 3px
          @include        transition-property(-webkit-transform, opacity)
          @include        transition(.4s ease)
      
      // Zoom state
      &.zoom
        @include  scale($tileZoomScale)
        @include  backface-visibility(hidden)
        span
          &:first-child
            @include  scale(1/$tileZoomScale)
            width:    $tileZoomScale * 100%
          &:nth-child(2)
            @include  translateY(-17px)
            opacity:  0
    
    // Animation disable
    &.noanim
      @include transition(none)
    &.noaim > li, > li.noanim
      @include transition(none)
      span:nth-child(2)
        @include transition(none)
  
  
  // Details view
  div.details
    position:         absolute
    top:              0
    left:             0
    right:            0
    overflow:         hidden
    background-color: #E4E9F0
    @include          translate3d(0,0,0)
    @include          transition(.4s ease)
    @include          transition-property(-webkit-transform, background-color)
    
    // Top arrow and shade
    svg
      position: absolute
      top:      0
      z-index:  1
      @include  transition(-webkit-transform .4s ease)
      path.shadow
        filter: url(#arrow_line_dropshadow)
      path.fill
        fill:   $tilesBackgroundColor
      path.stroke
        stroke:       rgba(0,0,0,.23)
        fill:         none
        stroke-width: 1px
    
    // Cover for showing / hiding the details
    > .cover
      position:   absolute
      z-index:    3
      background: $tilesBackgroundColor
      top:        0
      right:      0
      bottom:     0
      left:       0
      @include    transition(-webkit-transform .4s ease)
      border-top: 1px solid rgba(0,0,0,.27)
      @include    box-shadow(0 1px 3px 0 rgba(0,0,0,.46))
      @include    translate3d(0,13px,0)
      
      // Arrow which slides open
      > .arrow
        position:     absolute
        z-index:      4
        width:        20px
        height:       20px
        top:          -11px
        margin-left:  -10px
        background:   $tilesBackgroundColor
        border:       solid #b0b0b0
        border-width: 1px 0 0 2px
        @include      transition(-webkit-transform .4s ease)
        @include      rotateZ(45deg)
        
      // Hide the arrow while the details view slides open
      &.open > .arrow
        @include  transform3d(scale(.01) rotateZ(45deg))
    
    // If a dummy, the details view should be hidden and transitions disabled
    &.dummy
      visibility: hidden
      &, > svg
        @include  transition(none)
    
    // The contents of the details view
    > .content
      @include      transition(opacity .4s ease)
      padding-top:  1.1em
      // Outgoing and incoming transitions
      &.outgoing
        position: absolute
        left:     0
        right:    0
        opacity:  0
      &.incoming
        opacity:  0
      .sec
        color: #959FAD